nav {
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

.navImage{
  text-decoration: none;
  transition: 0.3s;
  position: relative;
}

.navImag:hover {
  opacity: 0.7;
}

.homeLogo {
  height: 50px; /* Ajuste o tamanho conforme necessário */
  transition: transform 0.3s;
}

.homeLogo:hover {
  transform: scale(1.1);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li:hover {
  opacity: 0.7;
  transform: scale(1.1);

}

nav li {
  margin: 0;
  transition: transform 0.3s;
}

nav a {
  text-decoration: none;
  color: purple;
  padding: 14px 20px;
  display: block;
  transition: background 0.3s;
  background: transparent;
}

