nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  background-color: transparent;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  font-family: 'Oswald', sans-serif;
  font-weight: 700; 
}

nav.scrolled {
  background-color: #03141A;
  opacity: 50%;
  width: 100vw;
}

.navImage{
  text-decoration: none;
  transition: 0.3s;
  position: relative;
  background-color: transparent;
}

.navImag:hover {
  opacity: 0.7;
}

.homeLogo {
  height: 40px;
  transition: transform 0.3s;
  background-color: transparent;
}

.homeLogo:hover {
  transform: scale(1.1);
}

nav ul {
  list-style: none;
  padding-right: 50px;
  margin: 0;
  display: flex;
  background-color: transparent;
  
}

nav li:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

nav li {
  margin: 0;
  transition: transform 0.3s;
  background-color: transparent;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding: 14px 20px;
  display: block;
  transition: background 0.3s;
  background: transparent;
  background-color: transparent;
  margin: 0;
}

footer {
  background-color: #95A5B4;
  padding: 20px;
  color: white;
  text-align: center;
}

footer p {
  background-color: transparent;
}

